/* make sure all the file occupy the whole screen*/
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #f3e8ff; 
  color: #2e1a47; 
  min-height: 100vh;
  width: 100%; 
  transition: background-color 0.4s, color 0.4s;
}

.App.dark {
  background-color: #2e1a47; 
  color: #ede9fe; 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e2a84; 
  color: white;
  padding: 1rem 2rem;
}

.App.dark .navbar {
  background-color: #4e2a84;
}

/* ====== BUTTONS ====== */
button {
  border: none;
  padding: 0.6rem 1.2rem;
  background-color: #8b5cf6; 
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #7c3aed; 
}

.App.dark button {
  background-color: #a78bfa; 
}

.App.dark button:hover {
  background-color: #c4b5fd;
}


.student-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 3rem;   
  column-gap: 3rem; 
  padding: 0 2rem;
  margin-top: 3rem;
}
.student-card {
  width: 230px;
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(78, 42, 132, 0.2);
  transition: transform 0.2s, background-color 0.3s;
}

.student-card:hover {
  transform: scale(1.2);
}
.student-card img {
  width: 100%;           
  height: 180px;         
  object-fit: cover;     
  border-radius: 10px;   
  margin-bottom: 0.8rem; 
}

.App.dark .student-card {
  background-color: #3b275a;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.student-card.favorite {
  border: 2px solid #8b5cf6;
}

h2 {
  color: #8b5cf6;
  margin-top: 1.5rem;
}

.App.dark h2 {
  color: #c4b5fd;
}
